@mixin breakpoint($point) {
  @if $point==mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }

  @if $point==tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @if $point==desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }

  @if $point==mobile-max {
    @media screen and (max-width: 767.98px) {
      @content;
    }
  }

  @if $point==tablet-max {
    @media screen and (max-width: 1199.98px) {
      @content;
    }
  }

  @if $point==tablet-only {
    @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
      @content;
    }
  }
}

@mixin flex($display: flex, $justify-content: flex-start, $align-items: flex-start) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
