.header {
  @include breakpoint(mobile-max) {
    padding: 10px 0;
  }

  border-bottom: 1px solid $hero-border-color;

  .container {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  @extend %logo;
  color: $accent-color;
  &--black {
    color: $primary-title-color;
  }
}

.mobile-menu__btn {
  @extend %menu-btn;
  margin-left: auto;

  @include breakpoint(tablet) {
    display: none;
  }

  &--close {
    @extend %menu-btn;
    position: absolute;
    top: 10px;
    right: 15px;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.mobile-menu__icon--close {
  transition: fill $transition-duration $timing-function;

  .mobile-menu__btn--close:hover &,
  .mobile-menu__btn--close:focus {
    fill: $accent-color;
  }
}

.mobile-menu {
  width: 100%;

  @include breakpoint(mobile-max) {
    padding: 48px 40px;

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);

    width: 100%;
    height: 100%;
    background-color: $primary-bgc;

    overflow-y: scroll;
    pointer-events: none;
    visibility: hidden;

    transition: transform $transition-duration $timing-function,
      visibility $transition-duration $timing-function;
  }
  @include breakpoint(tablet) {
    display: flex;
    margin-left: 87px;
    align-items: center;
  }
  @include breakpoint(desktop) {
    margin-left: 92px;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  pointer-events: initial;
  visibility: visible;
}

@include breakpoint(mobile-max) {
  .site-nav {
    margin-bottom: 302px;
  }
}

@include breakpoint(tablet) {
  .nav {
    display: flex;
    gap: 50px;
  }
}

@include breakpoint(mobile-max) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $primary-title-color;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include breakpoint(tablet) {
    display: block;

    padding: 32px 0;

    font-size: 14px;
    line-height: 1.14;
  }
}

.current {
  position: relative;
  color: $accent-color;

  @include breakpoint(tablet) {
    &::after {
      position: absolute;
      content: '';

      bottom: -1px;
      left: 0;

      width: 100%;
      height: 4px;

      background: $accent-color;
      border-radius: 2px;
    }
  }
}

.contact {
  @include breakpoint(mobile-max) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @include breakpoint(tablet) {
    margin-left: auto;
  }

  @include breakpoint(desktop) {
    display: flex;
  }
}

@media screen and (min-width: $tablet) and (max-width: 1199.99px) {
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}

.contact__item:nth-child(2) {
  @include breakpoint(mobile-max) {
    margin-bottom: 32px;
  }
  @include breakpoint(desktop) {
    margin-left: 30px;
  }
}

.contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  @include breakpoint(mobile-max) {
    &--size {
      font-size: 24px;
      line-height: 1.17;
      color: $primary-text-color;
    }
  }

  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @include breakpoint(desktop) {
    padding: 32px 0;

    font-size: 14px;
    line-height: 1.14;
  }

  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__icon-teblet {
  display: none;

  @media screen and (min-width: $tablet) and (max-width: 1199.99px) {
    display: block;
    margin-right: 8px;
  }
}

.contact__icon {
  margin-right: 10px;

  @include breakpoint(tablet-max) {
    display: none;
  }
}

.header-social {
  display: none;

  @include breakpoint(mobile-max) {
    display: flex;
  }
}

.header-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social__item:not(:first-child) {
  padding-left: 10px;
}

.header-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: $accent-color;
}
