.header {
  @include breakpoint(mobile-max) {
    padding: 10px 0;
  }

  border-bottom: 1px solid getColor('hero-border-color');

  .container {
    @include flex(flex, flex-start, center);
  }

  &__logo {
    @extend %logo;

    color: getColor('accent-color');
    &--black {
      color: getColor('primary-title-color');
    }
  }
}

.mobile-menu {
  width: 100%;

  @include breakpoint(mobile-max) {
    padding: 48px 40px;

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);

    width: 100%;
    height: 100%;

    background-color: getColor('primary-bgc');

    overflow-y: scroll;
    pointer-events: none;
    visibility: hidden;

    transition: transform $transition-duration $timing-function,
      visibility $transition-duration $timing-function;
  }
  @include breakpoint(tablet) {
    @include flex(flex, flex-start, center);
    margin-left: 87px;
  }
  @include breakpoint(desktop) {
    margin-left: 92px;
  }

  &.is-open {
    transform: translateX(0);
    pointer-events: initial;
    visibility: visible;
  }

  &__btn {
    @extend %menu-btn;
    margin-left: auto;

    &:hover,
    &:focus {
      color: getColor('accent-color');
    }

    @include breakpoint(tablet) {
      display: none;
    }

    &-close {
      @extend %menu-btn;
      position: absolute;
      top: 10px;
      right: 15px;

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  &__icon-close {
    transition: fill $transition-duration $timing-function;

    .mobile-menu__btn-close:hover &,
    .mobile-menu__btn-close:focus {
      fill: getColor('accent-color');
    }
  }
}

.site-nav {
  @include breakpoint(mobile-max) {
    margin-bottom: 302px;
  }

  &__list {
    @include breakpoint(tablet) {
      display: flex;
      gap: 50px;
    }
  }

  &__item:not(:last-child) {
    @include breakpoint(mobile-max) {
      margin-bottom: 32px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: getColor('primary-title-color');

    transition: color $transition-duration $timing-function;

    &:hover,
    &:focus {
      color: getColor('accent-color');
    }

    @include breakpoint(tablet) {
      display: block;

      padding: 32px 0;

      font-size: 14px;
      line-height: 1.14;
    }
  }
}

.current {
  position: relative;
  color: getColor('accent-color');

  @include breakpoint(tablet) {
    &::after {
      position: absolute;
      content: '';

      bottom: -1px;
      left: 0;

      width: 100%;
      height: 4px;

      background-color: getColor('accent-color');

      border-radius: 2px;
    }
  }
}

.contacts {
  @include breakpoint(mobile-max) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @include breakpoint(tablet) {
    margin-left: auto;
  }

  @include breakpoint(desktop) {
    display: flex;
  }

  &__item:first-child {
    @media screen and (min-width: $tablet) and (max-width: 1199.99px) {
      margin-bottom: 10px;
    }
  }

  &__item:nth-child(2) {
    @include breakpoint(mobile-max) {
      margin-bottom: 32px;
    }
    @include breakpoint(desktop) {
      margin-left: 30px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    &--size {
      @include breakpoint(mobile-max) {
        font-size: 24px;
        line-height: 1.17;
        color: getColor('primary-text-color');
      }
    }

    @include breakpoint(tablet) {
      @include flex(flex, flex-start, center);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }

    @include breakpoint(desktop) {
      padding: 32px 0;

      font-size: 14px;
      line-height: 1.14;
    }

    transition: color $transition-duration $timing-function;
    &:hover,
    &:focus {
      color: getColor('accent-color');
    }
  }

  &__icon-mail {
    display: none;
    @include breakpoint(tablet) {
      display: block;
      margin-right: 8px;
      width: 14px;
      height: 10px;
    }

    @include breakpoint(desktop) {
      margin-right: 10px;
      width: 16px;
      height: 12px;
    }
  }

  &__icon-phone {
    display: none;

    @include breakpoint(tablet) {
      display: block;
      margin-right: 8px;
      width: 10px;
      height: 14px;
    }
    @include breakpoint(desktop) {
      margin-right: 10px;
      height: 16px;
    }
  }
}

.header-social {
  display: none;

  @include breakpoint(mobile-max) {
    display: flex;
  }

  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item:not(:first-child) {
    padding-left: 10px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: getColor('accent-color');
  }
}
