.our-team {
  padding: 60px 0;

  background-color: $secondary-bgc;

  @include breakpoint(desktop) {
    padding: 94px 0;
  }
}

.our-team__title {
  margin-bottom: $indent;

  @include breakpoint(desktop) {
    margin-bottom: 50px;
  }
}

@include breakpoint(tablet) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: $indent;
  }
}

.team__item {
  width: 100%;

  background-color: $primary-bgc;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include breakpoint(tablet) {
    $items: 2;
    flex-basis: calc((100% - $indent * ($items - 1)) / $items);
  }

  @include breakpoint(desktop) {
    $items: 4;
    flex-basis: calc((100% - $indent * ($items - 1)) / $items);
  }
}

@include breakpoint(mobile-max) {
  .team__item:not(:last-child) {
    display: block;
    margin-bottom: $indent;
  }
}

@include breakpoint(tablet) {
  .team__mobile-container {
    display: none;
  }
}

.team__tablet-container {
  display: none;

  @media screen and (min-width: $tablet) and (max-width: 1199.99px) {
    display: block;
  }
}

@include breakpoint(tablet-max) {
  .team__desktop-container {
    display: none;
  }
}

.team__thumb {
  padding: 30px 0 24px 0;
  text-align: center;

  @include breakpoint(desktop) {
    padding: 30px 0;
  }
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: $primary-title-color;
}

.team__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.team-socials__icon {
  fill: $social-icon-color;

  transition: fill $transition-duration $timing-function;

  .team-socials__link:hover &,
  .team-socials__link:focus & {
    fill: $primary-bgc;
  }
}
