.our-features {
  padding: 60px 0;

  @include breakpoint(desktop) {
    padding: 94px 0 47px 0;
  }
}

.features {
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: $indent;
  }

  &__item {
    $items: 2;
    flex-basis: calc((100% - $indent * ($items - 1)) / $items);

    @include breakpoint(desktop) {
      $items: 4;
      flex-basis: calc((100% - $indent * ($items - 1)) / $items);
    }

    &:not(:last-child) {
      @include breakpoint(mobile-max) {
        margin-bottom: 30px;
      }
    }
  }

  &__thumb {
    @include flex(flex, center, center);

    margin-bottom: $indent;

    width: 100%;
    height: 120px;

    background-color: getColor('secondary-bgc');
    border-radius: 4px;
  }

  &__subtitle {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: getColor('primary-title-color');

    @media screen and (max-width: 767.99px) {
      text-align: center;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
  }
}
