.portfolio {
  padding: 60px 0;

  @include breakpoint(desktop) {
    padding: 94px 0;
  }
}

.portfolio-btn {
  margin-bottom: 40px;

  @include breakpoint(tablet) {
    @include flex(flex, center, flex-start);
    margin-bottom: 30px;
  }

  @include breakpoint(desktop) {
    margin-bottom: 50px;
  }

  &__item:nth-child(2) {
    @include breakpoint(tablet) {
      margin-left: 8px;
    }
  }

  &__top {
    display: flex;

    gap: 8px;

    @include breakpoint(mobile-max) {
      margin-bottom: 15px;
    }
  }

  &__bottom {
    display: flex;

    gap: 8px;
  }

  &__btn {
    @extend %btn;
    padding: 6px 22px;

    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: getColor('primary-title-color');
    background-color: getColor('secondary-bgc');

    transition: color $transition-duration $timing-function,
      background-color $transition-duration $timing-function,
      box-shadow $transition-duration $timing-function;

    &:hover,
    &:focus {
      color: getColor('primary-bgc');
      background-color: getColor('accent-color');

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.example {
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: $indent;
  }

  &__item {
    @include breakpoint(tablet) {
      $items: 2;
      flex-basis: calc((100% - $indent * ($items - 1)) / $items);
    }
  }

  &__item {
    @include breakpoint(desktop) {
      $items: 3;
      flex-basis: calc((100% - $indent * ($items - 1)) / $items);
    }

    &:not(:last-child) {
      @include breakpoint(mobile-max) {
        margin-bottom: $indent;
      }
    }
  }

  &__link {
    display: block;

    transition: box-shadow $transition-duration $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    z-index: -1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    padding: 77px 24px;

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;

    color: getColor('primary-bgc');
    background-color: getColor('portfolio-overlay-bgc');

    transform: translateY(101%);

    transition: transform $transition-duration $timing-function;

    @include breakpoint(tablet-only) {
      padding: 49px 24px 77px 24px;
    }
    @include breakpoint(desktop) {
      padding: 63px 24px;
    }

    .example__link:hover &,
    .example__link:focus & {
      transform: translateY(0);
    }
  }

  &__thumb {
    padding: 20px 24px;
    border: 1px solid getColor('project-border-color');
    border-top: none;

    &.example__thumb--big {
      @include breakpoint(tablet-only) {
        padding: 20px 24px 56px 24px;
      }
    }
  }

  &__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: getColor('primary-title-color');
  }

  &__description {
    font-size: 16px;
    line-height: 1.88;
  }
}
